

.container{
    margin-bottom: 60px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.button{
    background-image: linear-gradient(to bottom,#ff589b);
    border:none;
    border-radius: 7px;
    padding: 9px 25px;
    cursor: pointer;

}